@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

section[id] {
  scroll-margin-top: 80px; /* or more depending on navbar height */
}

.scrollbar-thin {
  scrollbar-width: thin;
}